header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}

main {
    padding: 2rem;
    border-radius: 25px;
}

